{% block footer %}
<footer class="footer">
  <span>© 2017-2018 LineageOS. Licensed under Apache 2.0.</span>
  <span><a href="https://gitlab.com/lineageos/infra/builds-ui">Source</a> (version: {{version()}})</span>
</footer>
{% endblock %}